{% if vault_backend is defined %}
{%   if vault_backend.type is defined %}
backend "{{ vault_backend.type }}" {
{%     for vb_key, vb_value in vault_backend.iteritems()|sort %}
  {{ vb_key }} = "{{ vb_value }}"
{%     endfor %}
}
{%   endif %}
{% else %}
backend "consul" {
  address = "127.0.0.1:8500"
  path = "vault"
}
{% endif %}

{% if vault_listener is defined %}
{%   if vault_listener.type is defined %}
listener "{{ vault_listener.type }}" {
{%     for vl_key, vl_value in vault_listener.iteritems()|sort %}
  {{ vl_key }} = "{{ vl_value }}"
{%     endfor %}
}
{%   endif %}
{% else %}
listener "tcp" {
  address = "127.0.0.1:8200"
  tls_disable = 1
}
{% endif %}

{% if vault_telemetry is defined %}
telemetry {
{%   for vt_key, vt_value in vault_telemetry.iteritems()|sort %}
  {{ vt_key }} = "{{ vt_value }}"
{%   endfor %}
}
{% else %}
telemetry {
  statsite_address = "127.0.0.1:8125"
  disable_hostname = true
}
{% endif %}
