{% if vault_log_file is defined %}
{{ vault_log_file }} {
{% else %}
/var/log/vault.log {
{% endif %}
    daily
    missingok
    rotate 7
    compress
    copytruncate
    notifempty
    create 600 root root
}
