# Path to vault binary
{% if vault_bin is defined %}
VAULT_BIN={{ vault_bin }}
{% else %}
#VAULT_BIN=/usr/sbin/vault
{% endif %}

# Config path for vault server
{% if vault_config_path is defined %}
VAULT_CONFIG_PATH={{ vault_config_path }}
{% else %}
#VAULT_CONFIG_PATH=/etc/vault/vault.hcl
{% endif %}

# Log file for vault server
{% if vault_log_file is defined %}
VAULT_LOG_FILE={{ vault_log_file }}
{% else %}
#VAULT_LOG_FILE=/var/log/vault.log
{% endif %}

# Log level for vault server
{% if vault_log_level is defined %}
VAULT_LOG_LEVEL={{ vault_log_level }}
{% else %}
#VAULT_LOG_LEVEL=info
{% endif %}

# Pid file for vault server
{% if vault_pid_file is defined %}
VAULT_PID_FILE={{ vault_pid_file }}
{% else %}
#VAULT_PID_FILE=/var/run/vault.pid
{% endif %}
