{% if vault_backend is defined %}
{%   if vault_backend.storage is defined %}
backend "{{ vault_backend.storage }}" {
{%     for vkey, vvalue in vault_backend.iteritems()|sort %}
{%       if vkey != 'storage' %}
{%         if vvalue == True %}
  {{ vkey }} = true
{%         elif vvalue == False %}
  {{ vkey }} = false
{%         else %}
  {{ vkey }} = "{{ vvalue }}"
{%         endif %}
{%       endif %}
{%     endfor %}
}
{%   endif %}
{% endif %}

{% if vault_listener is defined %}
listener "tcp" {
{%   for lkey, lvalue in vault_listener.iteritems()|sort %}
{%     if lvalue == True %}
  {{ lkey }} = true
{%     elif lvalue == False %}
  {{ lkey }} = false
{%     else %}
  {{ lkey }} = "{{ lvalue }}"
{%     endif %}
{%   endfor %}
}
{% endif %}

{% if vault_telemetry is defined %}
telemetry {
{%   for tkey, tvalue in vault_telemetry.iteritems()|sort %}
{%     if tvalue == True %}
  {{ tkey }} = true
{%     elif tvalue == False %}
  {{ tkey }} = false
{%     else %}
  {{ tkey }} = "{{ tvalue }}"
{%     endif %}
{%   endfor %}
}
{% endif %}
